<footer class="text-center text-white" style="background-color: #00825D;">
    <div class="container">
        <div class="row">

            <div class="col-md-4">
                <h6>Sobre o FreeLivro</h6>
                <p><a href="/como-ler" class="text-white text-decoration-none">Como funciona o FreeLivro?</a>
                </p>
            </div>

            <div class="col-md-4">
                <h6>Siga nas Redes Sociais</h6>
                <div class="social-icons">
                    <a href="https://www.instagram.com/" target="_blank" class="text-white fs-4 me-3 ms-3"><i
                            class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/feed/" target="_blank" class="text-white fs-4 me-3"><i
                            class="fab fa-linkedin"></i></a>
                    <a href="https://www.tiktok.com/" target="_blank" class="text-white fs-4 me-3"><i
                            class="fab fa-tiktok"></i></a>
                </div>
            </div>

            <div class="col-md-4">
                <h6>Faça uma Doação</h6>
                <div class="donation">
                    <a href="\doacao" class="fas fa-money-bill-alt text-white me-3 fs-4"></a>
                    <a href="\doacao" class="fab fa-cc-visa text-white me-3 fs-4"></a>
                    <a href="\doacao" class="fab fa-pix text-white me-3 fs-4"></a>
                    <a href="\doacao" class="fas fa-coins text-white fs-4"></a>
                </div>
            </div>
        </div>
    </div>
</footer>