<div class="row mx-auto">
    <div class="col-lg-6 col-md-12 img-page mb-4 mb-lg-0 d-none d-md-flex align-items-center justify-content-center">
        <img src="assets/images/comoler.jpg" class="img-fluid img-rounded-10" alt="Como ler">
    </div>
    <div class="col-lg-6 col-md-12 d-flex align-items-center">
        <div class="content text-center">
            <h2>Leia gratuitamente</h2>
            <p>No FreeLivro é possível acessar uma vasta biblioteca online de obras que já são de domínio
                público. </p>
            <p>Acesse os e-books na plataforma online ou, se preferir, baixe e leia offline em um de seus
                dispositivos.</p>
            <p>Escolha os e-books e divirta-se!</p>
            <a href="/" class="btn btn-primary">Ler agora</a>
        </div>
    </div>
</div>