@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@fortawesome/fontawesome-free/css/all.min.css';


body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-color: #f2efed;
    flex-grow: 1;
    padding: 3rem;
}

header {
    background-color: white;
    padding: 1rem 0;
}

.navbar {
    background-color: #00825D;
    color: white;
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: white;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
    background-color: #00543C;
    color: white !important;
}

.navbar-nav .nav-link .fa {
    margin-right: 1.2rem;
}

.btn-primary {
    background-color: #016D60;
    border-color: #016D60;
}

.btn-primary:hover {
    background-color: #014E4A;
    border-color: #014E4A;
}




.donation a {
    text-decoration: none;
}

footer {
    background-color: #00825D;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
    font-size: 1rem;
}

footer h6 {
    font-size: 0.8rem;
}